
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Roboto Condensed;
    font-size: 32px;
    transition: background 4s, color 4s;
    background: #ffffff;
    color: #000000;
    margin: 0;
    padding: 20px;
}

/*body.dark {
    background: #222;
    color: #f0f0f0;
}*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* margin-bottom: 10px;
    border-bottom: 1px solid #ccc;*/
   padding: 10px;
}

#mousе {
    font-size: 14px;
    margin-right: 20px;
}

/*.dark #mousе {
    color: #aaa;
}*/

#switch-background {
    width: 32px;
    height: 32px;
    background-size: cover; /*32px 32px;*/
    cursor: pointer;
    background-image: url("img/sun.png");
   /* background-color: #ddd;
    border-radius: 50%;*/
}
.dark #switch-background {
    background-image: url("img/sun.png");
    
}

.theme-switcher {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transition-control{
    align-items: end;
}
.slider-container {
    width: 200px;
    height: 30px;
    background: linear-gradient(to right, #ffffff 0%, #222222 100%);
    /*background-color: #ccc;*/
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
    
}

/*.dark .slider-container {
    background: #555;
}*/

.slider {
    position: absolute;
    /*content: '';*/
    width: 26px;
    height: 26px;
    /*bottom:2px;*/
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/*.dark .slider {
    background: #ddd;
}
*/
.labels {
    display: flex;
    justify-content: space-between;
    width:200px;
    font-size: 14px;
    margin-top: 5px;
}

h1 {
    text-align: center;
    /*color: #0066cc;*/
    margin: 20px 0;
}
/*.dark h1 {
    color: #4da6ff;
}*/
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input[type="number"] {
    font-size: 16px;
    padding: 10px;
    width: 100px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*.dark input[type="number"]{
    background-color: #444;
    color: white;
    border: 1px solid #666;
}*/
#power {
    margin-top: 15px;
    font-weight: bold;
}
